{
  "parser": "babel-eslint",

  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],

  "env": {
    "browser": true,
    "mocha": true
  },

  "plugins": [
    "mocha",
    "flowtype"
  ],

  "rules": {
    "flowtype/define-flow-type": 1,
    "react/prefer-stateless-function": 0
  },

  "settings": {
    "import/resolver": "webpack"
  }
}
