{
  "plugins": ["stylelint-prettier"],
  "extends": ["stylelint-prettier/recommended"],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["mixin", "define-mixin"]
      }
    ],
    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,

    "max-line-length": 120,
    "max-nesting-depth": 3,
    "selector-max-compound-selectors": 4,

    "prettier/prettier": true
  },
  "ignoreFiles": ["**/*.js", "**/*.jsx", "**/*.ts", "**/*.tsx"]
}
