{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,

    "max-line-length": 120,
    "max-nesting-depth": 3,
    "selector-max-compound-selectors": 4,

    "property-no-unknown": [true, { "ignoreProperties": ["composes"] }]
  }
}
