/* This is an example of the escape hatch for PostCSS.
 * Ideally you want to avoid using this as much as possible.
 *
 * However, there *are* cases where vanilla CSS is more appropriate
 * so this is still provided as a fallback.
*/

/* Relative path resolution */
@import "./typography.css";

:root {
  --font-color-override: hsl(0, 0%, 0%);
}

/* Global HTML rules */
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: var(--font-color-override);
}

a {
  color: var(--blue-60);
}
