/* You can place your global styles here */

/* A postcss-import import */
@import "./typography.css";

/* Element rules work globally, so use .class selectors when using in React components */
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* precss variable + cssnext hsl() function */
$bg-color: hsl(220, 25%, 25%);

body {
  background: $bg-color;
  color: #fff;
}

a {
  color: #fff;
}
