/* A postcss-import import, relative resolution */
@import './typography.css';

/* Imported values, resolving from src/ (configured in postcss.config.js) */
@import 'styles/example.scss';

/* Using imported precss SCSS-style variables from example.scss */
$local-var: $external-var;

/* Element rules work globally, so use .class selectors when using in React components */
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* precss variable + cssnext hsl() function */
$bg-color: hsl(220, 25%, 25%);

body {
  background: $bg-color;
  color: #fff;
}

a {
  color: #fff;
}

.example-compose {
  /* PreCSS SASS-style nesting */
  > .example-nesting {
    color: $bg-color;
  }

  /* CSS Modules composes direct from file */
  composes: s from 'styles/example.scss';
}

.example-compose-2 {
  /* CSS Modules composes from local class */
  composes: example-compose;
}
