/* Imported values, resolving from src/ */
@import './typography.css';
@import './example.module.css';

:root {
  --bg-color: rgba(38, 38, 38);
}

/* Element rules work globally, so use .class selectors when using in React components */
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: var(--bg-color);
}

a {
  color: blue;
}

.example-compose {
  > .example-nesting {
    color: var(--bg-color);
  }

  /* CSS Modules composes direct from file */
  composes: s from './example.module.css';
}

.example-compose-2 {
  /* CSS Modules composes from local class */
  composes: example-compose;
}
