/* This is an example typographic scale used to demo CSS imports in ./style.legacy.scss
 * Note that this is a plain old CSS file
 */

:root {
  --blue-40: #45a1ff;
  --blue-50: #0a84ff;
  --blue-60: #0a84ff;
  --blue-70: #003eaa;
  --blue-80: #002275;
  --blue-90: #000f40;
  --teal-40: #00feff;
  --teal-50: #00c8d7;
  --teal-60: #008ea4;
  --teal-70: #005a71;
  --teal-80: #002d3e;
  --m: 4px;
  --m-s: calc(var(--m) * 2);
  --m-m: calc(var(--m) * 4);
  --m-l: calc(var(--m) * 8);
  --m-xl: calc(var(--m) * 16);
  --curve: 2px;
}

html {
  font-size: 1em;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
}

small,
.font_small {
  font-size: 0.75em;
}
