@import "styles/variables.css";

@keyframes spin {
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

.robot {
  align-self: center;
  animation: spin 60s ease-in-out infinite;
  border-radius: 50%;
  height: auto;
  width: 200px;
  margin-bottom: var(--m-l);
}

.themedDiv {
  border-radius: calc(var(--curve) * 50);
  margin: 10px 0;
  color: var(--teal-40);
  padding: var(--m-l);
  align-self: center;
  transition: border-radius 0.3s ease-in;

  & .sub {
    font-style: italic;
  }

  &:hover {
    border-radius: var(--curve);

    & .sub {
      color: red;
      text-decoration: underline;
    }
  }
}

.grid {
  display: grid;
  grid-gap: var(--m-l);
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: calc(var(--m) * 240);
}
